/* Body Styles (Optional) */
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  background-image: url("image/headphones_hero_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}


.our-results {
  text-align: center; 
  color: #fff;
  padding: 50px 0;
}

/* Flexbox Container for Single Row Layout */
.results-grid {
  display: flex;    
  flex-wrap: wrap; 
  justify-content: center; 
  max-width: 1000px; 
  margin: 0 auto; 
  padding: 20px; 
}

/* Individual Pentagons (using separate elements) */
.result-item {
  background-image: url("image/pentagon_image.jpg"); 
  background-repeat: no-repeat;
  background-size: cover; 
  padding: 20px; 
  width: 22%; 
  margin: 10px; 
  position: relative; 
  text-align: center; 
}


.result-item-content {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.7); 
  padding: 20px; 
  opacity: 0; 
  transition: opacity 0.3s ease; 
}

.result-item:hover .result-item-content {
  opacity: 1; /* Show content on hover */
}

.result-item-content h2 {
  font-size: 20px; 
  margin-bottom: 5px; 
  color: white; 
}

.result-item-content p {
  font-size: 14px; 
  line-height: 1.6; 
  color: white; 
}
